@font-face {
	font-family: "SbAggroB";
	font-style: normal;
	src: url("./SbAggroB.ttf") format("truetype");
}

@font-face {
	font-family: "SbAggroM";
	font-style: normal;
	src: url("./SbAggroM.ttf") format("truetype");
}

@font-face {
	font-family: "SbAggroL";
	font-style: normal;
	src: url("./SbAggroL.ttf") format("truetype");
}
