@font-face {
	font-family: "SbAggroB";
	font-style: normal;
	src: url("./SbAggroB.ttf") format("truetype");
}

@font-face {
	font-family: "SbAggroM";
	font-style: normal;
	src: url("./SbAggroM.ttf") format("truetype");
}

@font-face {
	font-family: "SbAggroL";
	font-style: normal;
	src: url("./SbAggroL.ttf") format("truetype");
}

@font-face {
	font-family: "PretendardB";
	font-style: normal;
	src: url("./PretendardB.woff") format("woff");
}

@font-face {
	font-family: "PretendardM";
	font-style: normal;
	src: url("./PretendardM.woff") format("woff");
}

@font-face {
	font-family: "PretendardEL";
	font-style: normal;
	src: url("./PretendardEL.woff") format("woff");
}
